/*
 @Author: theCYBERbro
 @Website: Student App
 @Version: 1.0

  This CSS code makes the page look better than you imagined and 
  overrites Bootstrap code

*/

/* StudentApp better colors */
:root {
    --green: #94fbab;
    --yellow: #f4b942;
    --success: #97d8c4;
    --cyan: #6b9ac4;
    --blue: #4059ad;
    --text: #222;
    --content-bg: #fafafa;
    --card-border: #d1d4d3;
    --body-bg: #E6E6E6;
    --gray: #505050;
    --lite-gray: #888888;
    --transparent: rgba(0, 0, 0, 0);
    /* for logo */
    --logo-filter: none;
}

/* colors to be changed in dark mode */
.dark-mode {
    --text: #e2e2e2;
    --body-bg: #0D1117;
    --content-bg: #161B22;
    --card-border: #ffffff;
    --transparent: rgba(0, 0, 0, 0);
    --lite-gray: #888888;
    --gray: #505050;
    --green: #94fbab;
    --yellow: #f4b942;
    --success: #97d8c4;
    --blue: #4059ad;
    --cyan: #6b9ac4;
    /* for logo */
    --logo-filter: brightness(0) invert(1);
}

/* dark theme transition animation */
* {
    transition: all .2s;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h5,
.h3,
.h4,
.h6 {
    font-family: "Ubuntu", Helvetica, Arial !important;
}

/* background color */
body {
    background-color: var(--body-bg);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 85vh;
    padding-top: 3.7rem;
}

.container {
    background: var(--body-bg);
}



/* custom ============================= */
/* navbar active tab */
.active {
    font-weight: bold;
}

/* default text/link color */
a {
    color: var(--black);
}

/* navbar */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
}
.t-align{
    text-align: justify;
}

.navbar,
.navbar .container {
    background: var(--content-bg);
}

.navbar-brand img {
    filter: var(--logo-filter);
}

#navbarHeader {
    background-color: var(--text);
}

#sticky-footer {
    flex-shrink: none;
}

.navbar-toggler {
    width: 2rem;
    height: 2rem;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.toggler {
    height: .1rem;
    width: 1.3rem;
    background: var(--text);
    border-radius: 5px;
    position: absolute;
    transition: all .3s;
}

.toggler::before,
.toggler::after {
    content: "";
    height: .1rem;
    width: 1.3rem;
    background: var(--text);
    border-radius: 5px;
    display: block;
    transition: all .3s;
    position: absolute;
}

.toggler::before {
    transform: translateY(-.5rem);
}

.toggler::after {
    transform: translateY(.5rem);
}

.open.toggler {
    transform: translateX(-1rem);
    background: transparent;
}

.open.toggler::before {
    transform: translateY(0) translateX(1rem) rotate(45deg);
}

.open.toggler::after {
    transform: translateY(0) translateX(1rem) rotate(-45deg);
}

/* changed default navbar toggle icon  */


.navbar-toggler {
    border: none;
}

a.nav-link,
p.nav-link {
    text-align: center;
    margin-bottom: 0;
    color: var(--text);
}

/* cards ============================================*/
/* literally all cards */

.card-btn {
    margin: unset .5rem;
}

/* on click: */
.card-btn:active {
    background-color: var(--lite-gray) !important;
    box-shadow: 3px 3px 5px var(--text) !important;
}

.cardx {
    padding: 0.5rem;
    margin-bottom: 1rem;
    display: block;
    float: left;
}

/* this is the same as mr-2 ml-2 seted to next div inside the cardzzzzzzz*/
.cardx>div {
    margin: 0rem 0.75rem;
    /* mergin right and left 1rem */
}

.jumbotron,
.card,
.form-top {
    background-color: var(--content-bg) !important;
}

/* this is a card too, just different, dont be racist */
.jumbotron {
    padding: 2rem 1rem;
    border-radius: 1rem;
    /* border: 1px solid var(--card-border) !important; */
    margin: 0rem 1rem 2rem 1rem;
}

.content_card {
    margin-top: 1rem;
    min-height: 180px !important;
}

.card-body {
    padding: 2%;
}

.card-text {
    color: var(--body-bg);
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    padding: 0.5rem;
    background-color: transparent;
    backdrop-filter: blur(5px);
    background-clip: border-box;
    /* box-shadow: 3px 3px 5px var(--gray); */
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.01) !important;
    border-radius: 1rem;
}

.acc-card {
    border: none !important;
}

/* .card-blank {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
} */

/* columns ============================================*/
.col-md-4 .col-lg-6,
.col-6 {
    /* padding: 0 15px 0 15px; */
    padding: 0px;
    margin-bottom: 1rem;
    display: block;
    float: left;
}

.col-12 {
    padding: 0px;
}

/* row ==================*/

/* buttons ============================================*/
/* old btn succes */
.animated-btn {
    transition: all 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right,
            #a1c4fd 0%,
            #c2e9fb 51%,
            #a1c4fd 100%);
}

.btn-lg {
    color: black !important;
}

.animated-btn:hover {
    background-position: right center;
    /* change the direction of the change here */
}

.btn-success {
    color: var(--text);
    background-color: rgba(255, 255, 255, 0);
    border-color: var(--text);
    font-weight: 600;
    border-radius: 1rem;
}

.btn-success:hover {
    background-color: var(--cyan);
    color: var(--text) !important;
    border-color: var(--text);
}


img {
    padding: 2%;
    display: block;
    max-width: 100%;
    height: auto;
}

p,
h1,
h2,
h3,
h4,
h5 {
    color: var(--text);
    margin: 0;
}

.link-no-dec {
    text-decoration: none !important;
}

/* loading screen css ============================================*/


.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 101;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

/* contact form ============================================ */

.contact_form {
    align-items: center;
    width: 100%;
    padding: 0px;
}

.contact_form_header {
    padding: 0px;
    text-align: center;
    color: var(--green);
}

.form_in {
    border-width: 10px;
    margin: auto;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    /* padding: 0.375rem 0.75rem; */
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark);
    background-color: var(--transparent);
    background-clip: padding-box;
    border: 1px solid var(--dark);
    border-radius: 0.25rem;
}

.form-control::placeholder {
    color: var(--lite-gray);
    opacity: 1;
}

.form-control:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #495057;
}

.form-control:valid {
    background-color: var(--transparent) !important;
}

input:not(:placeholder-shown),
input:placeholder-shown {
    background-color: var(--transparent) !important;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-color: var(--gray) !important;
    background-image: none !important;
}

/* media queries =============================*/

/* edited bootstrap ========================================= */

.form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid var(--text);
    outline: 0;
    color: var(--text);
}

.btn:focus,
.btn.focus {
    box-shadow: 0 0 0 0.2rem var(--transparent);
}

.btn-success:focus,
.btn-success.focus {
    color: var(--text) !important;
    background-color: var(--cyan) !important;
    border-color: var(--text);
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.btn-success.disabled,
.btn-success:disabled {
    color: var(--text);
    background-color: var(--cyan) !important;
    border-color: var(--text);
}

.show>.btn-success.dropdown-toggle {
    color: var(--text);
    background-color: var(--cyan);
    border-color: var(--text);
}

.form-control:disabled,
.form-control[readonly] {
    background-color: var(--cyan);
    opacity: 1;
}

select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #000;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-success.dropdown-toggle:focus {
    /* box-shadow: 0 0 0 0.2rem var(--green); */
    background-color: var(--text);
    color: var(--body-bg);
    border-radius: 1rem;
    border-width: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--text);
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--text);
}

.card-title {
    margin-bottom: 0.75rem;
    color: var(--light);
}

.card-title-green {
    margin-bottom: 0.75rem;
    color: var(--green);
}

.card-header {
    margin: 0 0.3rem;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
    border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}

.card-footer:last-child {
    border-radius: 0 0 calc(1rem - 1px) calc(1rem - 1px);
}

.text-white {
    margin-top: 10px;
    color: #fff !important;
}

.text-dark {
    color: var(--text) !important;
}

a.text-dark:hover,
a.text-dark:focus {
    color: var(--text) !important;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
* used to design dark mode switch
*/
/* toggle switches with bootstrap default colors */
.custom-control-input-success:checked~.custom-control-label::before {
    background-color: var(--cyan) !important;
    border-color: var(--text) !important;
}

.custom-control-input-danger:checked~.custom-control-label::before {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.custom-control-input-warning:checked~.custom-control-label::before {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

.custom-control-input-info:checked~.custom-control-label::before {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

/* Large toggle switches */
.custom-switch-lg .custom-control-label {
    padding-left: 1.5rem;
    line-height: 1.7rem;
}

.custom-switch-lg .custom-control-label::before {
    left: -2.25rem;
    width: 3rem;
    border-radius: 1.5rem;
}

.custom-switch-lg .custom-control-label::after {
    top: calc(0.25rem + 3px);
    left: calc(-2.25rem + 4px);
    width: calc(1.5rem - 6px);
    height: calc(1.5rem - 6px);
    border-radius: 1.5rem;
}

.custom-switch-lg .custom-control-input:checked~.custom-control-label::after {
    transform: translateX(1.4rem);
}

.custom-switch-lg .custom-control-label::before {
    height: 1.5rem;
}