/*
 @Author: theCYBERbro
 @Website: --
 @Version: 1.0
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h5,
.h3,
.h4,
.h6 {
  font-family: "Ubuntu", Helvetica, Arial !important;
}

/* background color */
body {
  background-color: var(--white);
  /* background-image: linear-gradient(to bottom right, white, rgb(196, 196, 196)); */
  /* background-image: linear-gradient(to bottom right,  var(--col1), var(--col2) ); */
  /* background-image: linear-gradient(to bottom right,  #BBFBAC, #66E3AE, #00C8B8, #00ABC4, #008BCA, #006AC2); */
  /* background-image: linear-gradient(  white, rgb(212, 212, 212) ); */
  /* background-image: linear-gradient(  white, rgba(255, 233, 213, 0.938) ); */
  background-image: linear-gradient(  white, rgba(245, 242, 214, 1) );
  
}

/* navbar */
#navbarHeader {
  background-color: var(--dark-gray);
}

#sticky-footer {
  flex-shrink: none;
}


.navbar-light .navbar-toggler-icon {
  background-image: url("../images/menu_button.png");
}

.navbar-toggler {
  border: none;
}

a.nav-link{
  text-align: right;
}

/* colors ============================================*/
.bg-green {
  background-color: var(--green) !important;
}

.bg-glass{
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
}

.bg-green-gradient {
  /* background-color: var(--green) !important; */
  background-image: linear-gradient(var(--blue), var(--pink));

}

.bg-dark {
  background-color: var(--dark-gray) !important;
}

/* cards ============================================*/
/* literally all cards */

.card-btn{
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}


.cardx{ 
  
  padding: 0px;
  margin-bottom: 1rem;
  /* margin: 0.5rem 0rem 0.5rem 1rem; */
  display: block;
  float: left;
  
}
/* this is the same as mr-2 ml-2 seted to next div inside the cardzzzzzzz*/
.cardx > div{
  margin: 0rem 0.75rem 0rem 0.75rem;
  /* mergin right and left 1rem */
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  /* background-color: #e9ecef; */
  border-radius: 1rem;
  box-shadow: 3px 3px 5px var(--gray);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin: 0rem 1rem 2rem 1rem;
}

.content_card {
  margin-top: 1rem;
  min-height: 180px !important;
}
.card-body {
  padding: 2%;
}

.card-text {
  color: var(--white);
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;

  background-color: var(--gray);
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  /* background-image: linear-gradient(var(--blue), var(--pink)); */

  background-clip: border-box;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  /* border: 1px solid var(--lime-green); */
  box-shadow: 3px 3px 5px var(--gray);
  
  border-radius: 1rem;
}

/* columns ============================================*/
.col-md-4 .col-lg-6, .col-6 {
  /* padding: 0 15px 0 15px; */
  padding: 0px;
  margin-bottom: 1rem;
  display: block;
  float: left;
}

.col-12 {
  padding: 0px;
}

/* buttons ============================================*/
/* old btn succes */
.btn-success {
  color: var(--dark);
  background-color: var(--green);
  border-color: #000000;
  font-weight: 600;
  border-radius: 1rem;
}
/* new btn */
.btn-success {
  color: var(--dark);
  background-color: rgba(255, 255, 255, 0);
  border-color: #000000;
  font-weight: 600;
  border-radius: 1rem;
}


img {
  padding: 2%;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--dark);
}

.link-no-dec{
  text-decoration: none !important;
}
/* loading screen css ============================================*/

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

/* contact form ============================================ */

.contact_form {
  align-items: center;
  width: 100%;
  /* text-align: center; */
}

.contact_form {
  padding: 0px;
}

.contact_form_header {
  padding: 0px;
  text-align: center;
  color: var(--green);
}

.form_in {
  border-width: 10px;
  border-color: var(--green);
  margin: auto;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  /* padding: 0.375rem 0.75rem; */
  padding: 10px 10px 10px 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--gray);
  background-clip: padding-box;
  border: 1px solid var(--green);
  border-radius: 0.25rem;
}

/* .form-control:active,
.form-control:focus,
.form-control:focus:active {
    background-color: #96d3ec!important;
    border-color: #96d3ec;
    color: white;
} */

/*margin right/ left  20% on pc only*/


.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.form-control:valid {
  background-color: var(--gray) !important;
}

input:not(:placeholder-shown) {
  background-color: var(--gray) !important;
}

input:placeholder-shown {
  background-color: var(--gray) !important;
}

.form-control:focus {
  color: var(--white);
  background-color: var(--gray);
  border-color: #ffffff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--green);
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: var(--gray) !important;
  background-image: none !important;
  /* color: -internal-light-dark(white, var(--gray)) !important; */
}


/* loading gif  ============================================ */
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: url("../images/green-loading.gif") center no-repeat var(--gray);
}
